@font-face {
  font-family: 'vue-service';
  src:  url('fonts/vue-service.eot?m1vy2x');
  src:  url('fonts/vue-service.eot?m1vy2x#iefix') format('embedded-opentype'),
    url('fonts/vue-service.ttf?m1vy2x') format('truetype'),
    url('fonts/vue-service.woff?m1vy2x') format('woff'),
    url('fonts/vue-service.svg?m1vy2x#vue-service') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-service-"], [class*=" icon-service-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vue-service' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-service-authority:before {
  content: "\e900";
}
.icon-service-authorityPerson:before {
  content: "\e901";
}
.icon-service-authoritySetting:before {
  content: "\e902";
}
.icon-service-basicSetting:before {
  content: "\e903";
}
.icon-service-commit:before {
  content: "\e904";
}
.icon-service-date:before {
  content: "\e905";
}
.icon-service-history:before {
  content: "\e906";
}
.icon-service-index:before {
  content: "\e907";
}
.icon-service-information:before {
  content: "\e908";
}
.icon-service-leave:before {
  content: "\e909";
}
.icon-service-person:before {
  content: "\e90a";
}
.icon-service-print:before {
  content: "\e90b";
}
.icon-service-setting:before {
  content: "\e90c";
}
